.Hex-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}
.box{
    border: 2px solid black;
    padding: 20px;
    text-align: center;
    align-items: center;
}
